---
layout: article
---
<h1>4.2. O caos e a criação</h1>
<!-- <img src="/images/rupestre.jpg" alt="Strawberry Thief by Arts and Crafts " title="Strawberry Thief by Arts and Crafts " class="article-image-principal"/> -->
<p>A teoria do caos nos ajuda a visualizar melhor as impotências humanas para prever certos tipos de acontecimentos, dominar os conhecimentos da natureza e prever fenômenos naturais sempre foram de grande interesse as ações humanas. O termo ”caos” refere-se a uma inter-conectividade subjacente que existe em fatos aparentemente aleatórios. A ciência do caos enfoca matizes, padrões ocultos, a “sensibilidade” das coisas e as “regras” que regem os meios pelos quais o imprevisível causa o novo. É uma tentativa de compreender os movimentos que criam as tempestades, rios turbulentos, furacões, picos pontiagudos, litorais nodosos e todos os tipos de padrões complexos, desde deltas de rios até os nervos e vasos sangüíneos do nosso corpo.

<br/><br/>
 O predicado de toda a vida é a incerteza e a contingência. As culturas antigas e indígenas lidavam com a incerteza por meio de diálogos rituais com os deuses e com as forças naturais invisíveis. A sociedade industrial ocidental tomou outro rumo. Nosso sonho é eliminar a incerteza conquistando e controlando a Natureza. Os sistemas caóticos encontram-se além de todas as nossas tentativas de previsão, manipulação e controle. O caos revela que, em vez de resistir às incertezas da vida, devemos aproveitá-las.
A criatividade floresce em meio ao caos, escritores anseiam pelo momento mágico em que perdem o controle e seus personagens assumem vida própria. A criatividade inerente ao caos insinua que é preciso um senso estético – uma sensibilidade para o que se adéqua, o que entra em harmonia. Deixar-se coagir pelo caos oferece-nos a possibilidade de viver não como controladores, mas como participantes ativos da natureza. Sacrificar o controle e viver de modo criativo demanda atenção às nuances sutis e às ordens irregulares que nos cercam.

<br/><br/>
As classes e abstrações que constituem nosso “conhecimento” humano são necessárias para a sobrevivência prática, mas nossas categorias podem nos dominar a ponto de ignorarmos a natureza íntima mais refinada e inclassificável das situações humanas. Todos conhecemos aquele momento em que reagimos de modo exagerado a algo dito por alguém. Partimos do princípio de que sabemos exatamente o que a pessoa quer dizer e simplesmente não toleramos a posição que ela assumiu. Nossa resposta é afirmar nosso próprio ponto de vista contrário, e é inevitável que haja uma discussão. O caos aponta para uma alternativa.
A metáfora da teoria do caos ajuda-nos a lidar com tais situações porque revela que, além e entre as nossas tentativas de controlar e definir a realidade, encontra-se a sutileza. A teoria do caos mostra como coisas aparentemente minúsculas e insignificantes podem acabar desempenhando papel importante no modo como as coisas se desenrolam. Prestando atenção às sutilezas, nós nos abrimos para dimensões criativas que tornam a vida mais profunda.

</p>
<aside class="button-place">
  <a href="/conceito/teoria-caos.html" class="button preview"><< Teoria do caos</a>
  <a href="/conceito/concepcao.html" class="button next">Concepção >></a>
</aside>