---
layout: article
---
<h1>3.3. Caosmose</h1>
<!-- <img src="/images/rupestre.jpg" alt="Strawberry Thief by Arts and Crafts " title="Strawberry Thief by Arts and Crafts " class="article-image-principal"/> -->
<p>
  É no cruzamento de universos maquínicos hetereogêneos, de dimensões diferentes, de textura ontológica estranha, com inovações radicais, sinais de maquinismos ancestrais outrora esquecidos e depois reativados, que se singulariza o movimento da história.
  De fato, o desgaste, o acidente, a morte e a ressureição de uma máquina em um novo “exemplar” ou em um novo modelo fazem parte de seu destino e podem passar ao primeiro plano de sua essência em certas máquinas estéticas (as “compreensões” de César, as “metamecânicas”, as máquinas happening, as máquinas delirantes de Jean Tinguely).

<br/><br/>
  Charles Sanders Pierce, que qualificava o diagrama de “ícone de relação” e que o assimilava à função dos algorítimos, dele nos propôs uma visão ampliada que convém ainda, na presente perspectiva, transformar. O diagrama, com efeito, é concebido aí como uma máquina autopoiética, o que não apenas lhe confere uma consistência funcional e uma consistência material mas lhe impõe também o desdobramento de seus diversos registros de alteridade, que o fazem escapar a uma identidade restrita a simples relações estruturais.

<br/><br/>
  O que atravesa as máquinas fractais são escalas substanciais. Elas as atravessam, engendrando-as. Mas – é preciso admiti-lo – essas ordenadas existenciais que elas “inventam” já existiam desde sempre. Como sustentar um tal paradoxo? É que tudo se torna possível, incluindo o alisamento recessivo do tempo evocado por René Thon, desde que se admita uma escapada do Agenciamento para fora das coordenadas energético-espácio-temporais. E ainda aí cabe-nos redescobrir uma forma de ser do ser, antes depois, aqui e em toda parte, sem ser entretanto idêntico a si mesmo; um ser processual, polifônico, singularizável, de texturas infinitamente complexificáveis, ao sabor das velocidades infinitas que animam suas composições virtuais.

<br/><br/>
  Se deve haver escolha e liberdade em certas etapas antropológicas “superiores”, é porque deveremos também encontrá-las nos níveis mais elementares das concatenações maquínicas. Mas as noções de elementos e de complexidade são suscetíveis aqui de se inverterem brutalmente. O mais diferenciado e o mais indifrenciado coexistem no seio de um mesmo caos que, com velocidade infinita, joga seus registros virtuais uns contra os outros e uns com os outros. O mundo maquínico-técnico, em cujo “terminal” se constitui a humanidade de hoje, é barricado por horizontes de constância e de limitação das velocidades infinitas do caos. (Velocidade da luz, horizonte cosmológico do Big-Bang, distância de Planck e quantum elementar de ação da física quântica, impossibilidade de ultrapassar o zero absoluto…) Mas esse mesmo mundo de coação semiótica é duplicado, triplicado, infinitizado por outros mundos que, em certas condições, só exigem a bifurcação para fora de seu universo de virtualidade e o engendramento de novos campos de possível.

<br/><br/>
  Os Universos de valor constituem assim os enunciadores incorporais de compleições maquínicas abstratas compossíveis às realidades discursivas. A consistência desses focos de proto-subjetivações, portanto, só é assegurada na medida em que eles se encarnem, com mais ou menos intensidade, em nós de finitude, de grasping caósmico, que garantam, além disso, sua recarga possível de complexidade processual. Dupla enunciação, então, territorialização finita e incorporal infinita.

<br/><br/>

<span class="quotation">“Na perspectiva que é a minha e que consiste em fazer transitar as ciências humanas e as ciências sociais de paradigmas cientificistas para paradigmas ético-estéticos, a questão não é mais a de saber se o inconsciente freudiano ou o inconsciente lacaniano fornecem uma resposta científica aos problemas de psique. Esses modelos só serão considerados a título de produção de subjetividade entre outros, inseparáveis dos dispositivos técnicos e institucionais que os promovem e de seu impacto sobre a psiquiatria, o ensino universitário, os mass mídia…De uma maneira mais geral, dever-se-á admitir que cada indivíduo, cada grupo social veicula seu próprio sistema de modelização de subjetividade, quer dizer, uma certa cartografia feita de demarcações cognitivas, mas também míticas, rituais, sintomatológicas, a partir da qual ele se posiciona em relação aos seus afetos, suas angústias e tenta gerir suas inibições e suas pulsões.” Félix Guattari</span>
</p>
<aside class="button-place">
  <a href="/conceito/emergencia.html" class="button preview"><< Emergência</a>
  <a href="/conceito/nao-dualismo.html" class="button next">O não dualismo >></a>
</aside>
