---
title: Nodus project
---

<h1>Conclusão</h1>
<p>
Os sistemas caóticos são eventos que ocorrem aleatoriamente e não podemos prever os resultados. Tudo que nos rodeia é direta ou indiretamente associado ao acaso, encontrar o equilíbrio dinâmico entre o caos e a ordem traz a criatividade potencializada. As pessoas são constantemente influenciadas, tocam a teia e movem toda a rede, assim como o bater de asas de um borboleta. Deixar fluir o cosmos presente em cada um, numa consciência coletiva. Atualizar, gerar dúvidas, criar novos problemas, para novas atualizações. Caminhos que se entrecruzam, se relacionam e fazem do design o encontro de relações, o design sensível.
</br></br>
<span class="quotation">"Imaginar é mais importante que saber, pois o conhecimento é limitado, enquanto a imaginação abarca o universo." - Albert Einstein</span>
</p>
<aside class="button-place">
	<a href="/conceito/sonora.html" class="button preview"><< Sonora</a>
  <a href="/apresentacao.html" class="button next">Ver apresentação</a>
</aside>
