---
layout: article
---
<h1>5.1. Concepção</h1>
<img src="/assets/images/applet-placeholder.png" alt="concepção de projeto" title="concepção de projeto" class="article-image-principal"/>
<p>Todo o embasamento investigado tornou possível a criação do produto, chamado NODUS, o produto é um aplicativo interativo que mostra a influência humana por meio de interrelações e infinitas possibilidades.

<br/><br/>
A rede é retratada através das tramas presentes no ambiente do aplicativo e a movimentação do corpo humano é captada e representada pelas influências. A não-dualidade e os estados de caos e ordem são representados na forma dinâmica associada ao uso do produto.
</p>
<aside class="button-place">
  <a href="/conceito/caos-criatividade.html" class="button preview"><< O caos e a criação</a>
  <a href="/conceito/desenvolvimento.html" class="button next">Desenvolvimento >></a>
</aside>