---
layout: article
---
<h1>2.3. Criatividade</h1>
<!-- <img src="/images/art-crafts.png" alt="Strawberry Thief by Arts and Crafts " title="Strawberry Thief by Arts and Crafts " class="article-image-principal"/> -->
<p>Trabalhar com design implica ter criatividade, mas afinal, o que é a criatividade?

<br/><br/>
A criatividade define-se como gerar o novo, o desconhecido. Tornar possível ou criar novas possibilidades de saída à situações ou problemas. Existe a criatividade individual do ser, que é a forma como cada indivíduo cria suas próprias expressões. E a criatividade coletiva, quando um grupo, ou uma equipe pensam em conjunto e conseguem formar uma idéia através de interações exteriores ao grupo e também por discussões internas.

<br/><br/>
Na antiguidade acreditava-se que a criatividade era uma espécie de dom divino provindo da natureza humana, um estado místico que recebiam mensagens de entidades divinas. Chegou-se a associar a criatividade com a loucura como forma de compensar os conflitos e irregularidades do inconsciente humano. O instituto tecnológico de Massachucets defende a idéia da necessidade de mistura de pessoas provindas de diferentes culturas para gerar uma troca de conhecimentos variados, e principalmente absorver na vida caótica o potencial criativo de cada ser.

<br/><br/>
Potencializar a criatividade é conseguir estimular a mente, fazer dos pensamentos um fluxo de idéias capaz de levar ao máximo a capacidade de criar. Nenhuma receita pode ser escrita para estimular a criatividade, mas cada indivíduo possui a capacidade de se aprofundar em seus pensamentos de alguma forma. Seja ela por meio da música, do silêncio, da meditação, ou mesmo em momentos breves do cotidiano.
</p>
<aside class="button-place">
  <a href="/conceito/estetica.html" class="button preview"><< Estética</a>
  <a href="/conceito/sociedade.html" class="button next">Sociedade >></a>
</aside>
