---
layout: article
---
<h1>3.2. Emergência</h1>
<img src="/assets/images/emergencia.png" alt="emergcencia" title="emergencia" class="article-image-principal"/>
<p>Emergência é um fenómeno ou processo de formação de padrões complexos a partir de uma multiplicidade de interações simples. O conceito de Emergência é normalmente associado às teorias dos Sistemas Complexos. As estruturas emergentes são padrões que não são criados por um único evento ou regras. Não existe nada que comande o sistema para que ele forme um padrão, mas ao invés disso as interações de cada parte com o ambiente externo gera um processo complexo que leva à ordem. Pode-se concluir que as estruturas emergentes são mais que a soma de suas partes, pois a ordem emergente não irá surgir se as várias partes são simplesmente coexistentes; a interação destas partes é central.

<br/><br/>
Um exemplo biológico é uma colônia de formigas. A rainha não dá as ordens diretas e não diz às formigas o que fazer. Ao invés disso, cada formiga reage a estímulos químicos deixados por outras larvas, outras formigas, intrusos e comida, e deixa para trás uma trilha química que, por sua vez, gera um estímulo para as outras formigas. Neste caso cada formiga é uma unidade autônoma que reage dependendo apenas de seus arredores e das regras genéticas codificadas para sua variedade de formiga. Tirando o fato da tomada de decisões centralizada, as colônias de formiga exibem um comportamento complexo e tem mostrado serem capazes de resolver problemas geométricos. Por exemplo, a colônia de formigas rotineiramente encontra a maior distância possível de todas as entradas da colônia para depositar os corpos mortos.

<br/><br/>
Alêm da emergência nas colônias de formigas, que é semelhante a outras estruturas emergentes nos insetos sociais, baseadas basícamente em feromônios e rastros químicos, a emergência também pode ser observada em rebanhos e cardumes. O arrebanhamento é um comportamento muito conhecido na maiorias das espécies de animais, de peixes a pássaros. Estruturas emergentes são uma estratégia favorita encontrada em muitos grupos de animais: colônias de formigas, colméia de abelhas, bandos de pássaros, rebanhos de mamíferos, cardumes de peixes, e nos lobos.
</p>
<aside class="button-place">
  <a href="/conceito/sociedade.html" class="button preview"><< A sociedade</a>
  <a href="/conceito/caosmose.html" class="button next">Caosmose >></a>
</aside>
