---
layout: article
---
<h1>2.2. Estética</h1>
<p>
A estética (de origem do grego αισθητική ou aisthésis) significa “percepção”, “sensação”. A estética propõe estudar a natureza do belo, julgando o que pode ser considerado belo e sublime. Também preocupa-se com técnicas e diferentes formas de arte, julgando tudo que pode ser do mais belo ao mais ridículo dentro de seus preceitos constituidos.

<br/><br/>

<img src="/assets/images/galo-faisao.png" class="article-image-middle-left"/>
O belo nos tempos antigos era visto como a perfeição máxima, conseguir representar nas pinturas e gravuras a mais perfeita natureza vista alcançada a mais pura beleza. Por volta do século XVIII o estado puro de beleza passou a ser discutido e contra argumentado por expressivas pinturas que representavam as relações humanas mais ricas que a própria perfeição. Como o galo de Pablo Picasso que a primeira vista é um tanto assustador, mas representa de forma clara as ações estridentes de um galo. O belo passava aí não a representar a beleza perfeita, mas a tradução mais expressivamente representada. Passando a estética a julgar as diferentes formas de beleza.

<br/><br/>

A beleza também está associada ao bom gosto de cada pessoa, diz-se muito que bom gosto na estética não pode ser discutido, ao fato de <img src="/assets/images/galo.gif" class="article-image-middle-left"/>que cada um possui sua própria opinião. Kant dizia que a estética não possui um cunho na razão pura, mas há um senso universal que vai além dos gostos pessoais e àqueles definido pelas culturas e determinismos contextuais. Schopenhauer defendia a estética como um força cósmica superior a todos nós, que podia ser tocada através da beleza quando houvesse uma vontade metafísica. Marcos Becarri nos traduz de forma clara esse tipo de discussão em seu artigo Filosofia do design, parte XXXVIII - Estética e design:

<br/><br/>

<span class="quotation">“o modo como vemos as coisas é o modo como vemos a nós mesmos. Embora isso pareça lugar comum, significa que contemplar ou repudiar determinado objeto é vivenciar indiretamente o que há de mais belo e mais repugnante em cada um de nós. Não existe uma estética pura, intrínseca ao mundo, nem tampouco uma estética determinada conscientemente pelo indivíduo ou pelo contexto social. O que me parece fazer mais sentido é encarar o senso estético como uma misteriosa característica inconsciente do ser humano em se tornar um espelho do mundo, conforme metaforiza Von Franz (1997). Os reflexos estão na retórica, isto é, no modo como articulamos as idéias para persuadirmos, aos outros e a nós mesmos, a respeito da veracidade de uma experiência.”</span>

<br/>

Assim o belo, a estética, o design estão referenciados na percepção vivenciada por cada cultura, contextualizada dentro de cada um de nós. A arte pode tornar perceptível, acessível aos sentidos e às emoções o salto vertiginoso para dentro da virtualização que efetuamos tão frequentemente às cegas e contra nossa vontade. Mas a arte pode também intervir ou interferir no processo. Os artistas supostamente exprimiram a si próprios apenas durante um período muito curto da história da arte. Muitas pesquisas estéticas contemporâneas retornam a práticas arcaicas que consistem em dar consistência, em ceder uma voz à criatividade cósmica. Assim, para o artista, trata-se menos de interpretar o mundo de que permitir que processos biológicos atuais ou hipotéticos, que estruturas matemáticas, que dinâmicas sociais ou coletivas tornem diretamente a palavra. A arte não consite mais, aqui, em compor uma “mensagem”, mas em maquinar um dispositivo que permita à parte ainda muda da criatividade cósmica fazer ouvir seu próprio canto. Um novo tipo de artista aparece, que não conta mais história. É um arquiteto do espaço dos acontecimentos, um engenheiro de mundos para bilhões de histórias por vir. Ele esculpe o virtual.
</p>
<aside class="button-place">
  <a href="/conceito/comunicacao.html" class="button preview"><< Comunicação</a>
  <a href="/conceito/criatividade.html" class="button next">Criatividade >></a>
</aside>
