---
title: Nodus project
---

<h1>5.2.2 Interação</h1>
<img src="/assets/images/processing-tool.png" alt="foto da primeira orientação" title="foto da primeira orientação" class="article-image-principal"/>
<p>
Foi pensado num producto de interação que conseguisse transcrever a influência que cada um tem a partir do movimento do corpo. Desde o início isso me pareceu muito interessante, mas como tornar isso possível? Pensamos no kinect, um aparelho que capta o corpo humano em 3D e pode ser ligado ao Xbox (game) ou mesmo ao computador. Porém, seu código não é cem porcento aberto, além disso, a falta de recursos não possibilitaria a compra do aparelho. Partimos, então, para outras alternativas. Um amigo, Vinícius Baggio, pode me auxiliar e conseguimos desenvolver um modo de captar os movimentos através de uma webcam.
</br></br>
Conseguimos a captação de movimentos desenvolvendo a partir de uma linguagem de programação (Java) aliado com uma biblioteca de processamento de imagens (OpenCV) e junto ao Processing, uma ferramenta de desenvolvimento gráfico. Dessa forma foi possível gerar imagens dinâmicas a partir da captação de movimentos. Basicamente transformamos o contorno do corpo captado em uma mancha. O computador lê essa mancha e identifica o maior pedaço presente. Assim essa mancha maior é transformada num bloco único e enfim em um ponto. E esse ponto é o ponto zero para o início da composição gráfica. Através do pontos exibidos traçamos de forma metafórica a rede de relações interpessoais, cada vez que há uma movimentação a interação acontece e influencia toda a trama presente.
</br></br>
Todo o sistema foi pensado de modo que o usuário tenha uma interação instigante e a cada movimento se sinta mais interessado e intrigado ao ambiente. Tornando-se parte do processo, trazendo do estado estriado a dissolvição ao estado liso. E retornando-se ao estriado em transições atemporais. Os elementos se movem e junto ao som fazem do ambiente um fluxo completo.
</br></br>
o ponto central captado pela câmera, a cada mancha, é o centro do atrator. um atrator é um ponto para qual toda órbita que passa por um ponto suficientemente próximo converge para o ponto; isto é, o sistema flutua para sempre entre vários estados de um modo que não é aleatório, né é fixo, ne oscilatório, mas sim uma flutuação contínua caótica.
</p>
<aside class="button-place">
	<a href="/conceito/producao-grafica.html" class="button preview"><< Produção gráfica</a>
  <a href="/conceito/sonora.html" class="button next">Sonora >></a>
</aside>
