---
layout: article
---
<h1>5.2.1 Produção gráfica</h1>
<img src="/assets/images/nodus-identidade.png" alt="processing" title="processing" class="article-image-principal"/>
<p>Toda a produção gráfica do aplicativo foi baseada na trama, onde pontos e linhas definem sua estrutura. As características simples, mas singulares das linhas e pontos definem a estrutura do meio de interação pelos cruzamentos e combinações de cada ponto que se refere a cada ser.

O nome NODUS, tem origem na palavra nódulo, fazendo referência ao ponto, ao cruzamento da trama. O NODUS retrata a parte influente que somos, o ponto de ligação e cruzamento que trama, compões e influencia toda a rede.
</p>
<img src="/assets/images/nodus-video.png" alt="processing" title="processing" class="article-image-principal"/>
<img src="/assets/images/nodus-aplicacao.png" alt="processing" title="processing" class="article-image-principal"/>
<aside class="button-place">
  <a href="/conceito/desenvolvimento.html" class="button preview"><< Desenvolvimento</a>
  <a href="/conceito/interacao.html" class="button next">Interação >></a>
</aside>