---
layout: article
---
<h1>3.1. A sociedade</h1>
<p>
  Uma sociedade é o conjunto de pessoas que compartilham propósitos, gostos, preocupações e costumes, e que interagem entre si constituindo uma comunidade. A origem da palavra sociedade vem do latim societas, uma "associação amistosa com outros". Societas é derivado de socius, que significa "companheiro", e assim o significado de sociedade é intimamente relacionado àquilo que é social. Um grupo de indivíduos que formam um sistema semi-aberto, no qual a maior parte das interações é feita com outros indivíduos pertencentes ao mesmo grupo. Uma rede de relacionamentos entre pessoas interdependente.

<br/><br/>
  Os turbulentos modos de organização da sociedade humana, fruto de muitos estudos no campo da sociologia, em grande parte da história foram estipulados por poderes e hierarquias, onde os menos possibilitados de poder, seja ele material ou intelectual, tinha o único papel de aceitação. Mas ao analisar algumas sociedades naturais, como dos insetos por exemplo, podemos verificar modos de organização que fogem a regra hierarquica. Sociedades se organizam de modo natural a conseguir um equilíbrio entre os indivíduos, de forma que todos os integrantes da sociedade não se sobressaem uns aos outros, havendo uma cooperação recíproca e uma ordenação voluntária, mais conhecida como sistemas de auto-organização.

<br/><br/>
  Os sistemas de auto-organização podem ser encontrados na sociedade das abelhas, diferente do que muito se pensou a respeito de uma hierarquia, a abelha-rainha não possui dominação perante as abelhas operárias, essas simplesmente trabalham de forma cooperativa a favor de um propósito comum. Os grupos de pássaros migram de um lado ao outro e comportam-se como sistemas de auto-organização, um pássaro junta-se ao outro sem uma comunicação direta, mas seguem o bando de forma contributiva para ele e para o bando.

<br/><br/>
  Nas cidades são criadas e recriadas sistemas que se auto-organizam e mantém-se sem a necessidade de alguma imposição. Esses sistemas tornam a cidade mais estáveis, ao fato que toda a rede consegue ser reconstruída rapidamente. Desastres como o 11 de setembro ou os tsunamis devastadores que destroem um ponto, atuam na rede, mas ainda assim todo o sistema consegue se manter vivo. Nos sistemas online são visíveis o crescimento de comunidades que nascem e são mantidas por grupos de um mesmo propósito, pessoas que contribuem e o fazem por vontade própria, os projetos facetados com open source, as wikis e redes cooperativas de informações.

<br/><br/>
  A virtualização reinventa uma cultura nômade, não por uma volta ao paleolítico nem às antigas civilizações de pastores, mas fazendo surgir um meio de interações sociais onde as relações se reconfiguram com um mínimo de inércia. Quando uma pessoa, uma coletividade, um ato, uma informação se virtualizam, eles se tornam “não-presentes”, se desterritorializam. Uma espécie de desengate os separa do espaço físico ou geográfico ordinários e da temporalidade do relógio e do calendário.

</p>
<aside class="button-place">
  <a href="/conceito/criatividade.html" class="button preview"><< Criatividade</a>
  <a href="/conceito/emergencia.html" class="button next">Emergência >></a>
</aside>
