---
title: Nodus project
---

<h1>5.2.3 Sonora</h1>
<img src="/assets/images/sonora.png" alt="foto da primeira orientação" title="foto da primeira orientação" class="article-image-principal"/>
<p>
A sonoridade traz junto à composição gráfica uma enfatização dos estados que transitam entre o caos e a ordem. A movimentação faz surgir diferentes estados de composição gráfica e de sonoridade. Assim quanto maior a movimentação, maior a influência na trama, alterando a percepção sonora. Foi pensado em compor diferentes músicas para diferentes estados, porém notou-se que os estados não apenas se diferenciam, mas principalmente transitam; um estado muta-se em direção ao outro.
</br></br>
Buscamos então, num mesmo som, conseguir transformá-lo em diferentes estados de uma mesma gama. Conseguimos com um mesmo trecho de música alterar a frequência de onda e intensidade sonora de acordo com cada variação. Assim os estados de caos e ordem conseguiriam ser representados de forma mais sensível, mostrando uma mesma forma que estende e comprime-se, variando de acordo com a influência. Um som que aumenta e diminui, expande e retorna ao estado anterior e busca a harmonização como seu ponto mais sutil.
</br></br>
A produção do som foi baseada nas ondas cósmicas e na mistura das influências ocidentais e orientais buscando harmonizar a mistura de sons. Algumas influências provenientes do oriente, como os timbres mais agudos, a melodia relaxante e a polirritmia misturam-se as batidas vibrantes e tons marcantes do ocidente. O uso de softwares para a criação do som foi possível pelo uso do Garage Band para sua composição, utilizando Fruit Loops para os ajustes finos e a alternância de frequência e intensidade foi possível através de código de programação. A sincronização da movimentação, dos efeitos gráficos junto ao som, foi uma das etapas mais desafiadoras do processo. Demandou intensos testes e muito tempo para o resultado combinado. Após muita insistência conseguimos o efeito desejado e a combinação exata da mistura.
</p>
<aside class="button-place">
	<a href="/conceito/interacao.html" class="button preview"><< Interação</a>
  <a href="/conceito/conclusao.html" class="button next">Conclusão >></a>
</aside>
