---
layout: article
---
<h1>4.2. Teoria do caos</h1>
<img src="/assets/images/teoria-caos.png" alt="teoria do caos" title="teoria do caos" class="article-image-principal"/>
<p>O universo em uma casca de nós, de Stephen Hawking, nos propõe algumas idéias a respeito do universo com estudos de extrema significancia na fisica. O universo é realmente infinito ou apenas enorme? Ele é eterno ou apenas tem uma longa vida? Como nossas mentes finitas poderiam compreender um universo infinito? Perguntas que serão estudadas por longo tempo, mas que parecem se aproximar com as investigações na física quântica. A teoria da realidade de Einstein, que concorda com um grande número de experimentos, mostra que tempo e espaço estão intricadamente interligados. Não é possível curvar o espaço sem envolver também o tempo. Assim, o tempo possui uma forma. Entretanto, ele também parece ter um único sentido.

<br/><br/>

<span class="quotation">“Eu poderia viver recluso numa casca de noz e me considerar rei do espaço infinito…” Hamet talvez quisesse dizer que, embora nós, seres humanos, sejamos muito limitados fisicamente, nossas mentes estão livres para explorar todo o universo e para avançar audociosamente para onde até mesmo Jornada nas Estrelas teme seguir – se os maus sonhos permitirem.” Stephen Hawking.</span>

<br/>
A teoria das cordas propõe um modelo físico que define blocos fundamentais como objetos unidimensionais, semelhante a uma corda, opõe-se a física clássica a medida que não considera um ponto finito, uma partícula sem dimensão. O estudo da teoria revela a possibilidade de ser a teoria de tudo, abrangendo a teoria da relatividade e a teoria quântica, que não se ligam à fisica clássica.

<br/><br/>
A física quântica estuda os conceitos de partícula e onda e diferente da física clássica newtoniana, acredita que uma partícula é um objeto com uma mínima dimensão de massa, que compõe corpos maiores, e onda a radicação eletromagnética, invisível para nós, não necessita de um ambiente material para se propagar, e sim do espaço vazio. A conexão da Mecânica Quântica com conceitos como a não-localidade e a causalidade, levou esta disciplina a uma ligação mais profunda com conceitos filosóficos, psicológicos e espirituais. Existe uma forte tendência em unir os conceitos quânticos às teorias sobre a consciência.

<br/><br/>
Fritjof Capra, Ph.D., físico e teórico de sistemas, revela a importância do observador na produção dos fenômenos quânticos. Ele não só testemunha os atributos do evento físico, mas também influencia na forma como essas qualidades se manifestarão. A consciência do sujeito que examina a trajetória de um elétron vai definir como será seu comportamento. Assim, segundo o autor, a partícula é despojada de seu caráter específico se não for submetida à análise racional do observador, ou seja, tudo se interpenetra e se torna interdependente, mente e matéria, o indivíduo que observa e o objeto sob análise.

<br/><br/>
O físico Amit Goswami utiliza a Física moderna para apresentar provas científicas da existência da imortalidade, da reencarnação e da vida após a morte. Professor titular da Universidade de Física de Oregon, Ph.D em física quântica, físico residente no Institute of Noetic Sciences, suas idéias aparecem no filme Quem somos nós? e em obras como A Física da Alma, O Médico Quântico, entre outras. Ele defende a conciliação entre física quântica, espiritualidade, medicina, filosofia e estudos sobre a consciência. Amit Goswami sugere que a Física quântica, falando de uma maneira bem simples, é uma física de possibilidades. Abre fundamentalmente as perguntas “De quem são as possibilidades?”, e “quem escolhe dentre tais possibilidades para nos dar o evento atual que estamos experimentando?”. E a única resposta satisfatória lógica e significativa é que a consciência é onde tudo ocorre. Somos livres para escolher o nossa realidade e as infinitas possibilidades.
Mesmo algo tão simples como a teoria da gravidade de Newton produz equações que não conseguimos resolver exatamente para mais de duas partículas.

<br/><br/>
Além disso, as equações muitas vezes possuem uma propriedade conhecida como o caos, de modo que uma pequena mudança na posição ou velocidade em determinado momento pode levar a um comportamento totalmente diferente em momentos futuros.
Os sistemas consideram-se duas categorias: lineares e não-lineares, que divergem entre si na sua relação de causa e efeito. Na primeira, a resposta a um distúbio é diretamente proporcional à intensidade deste. Já na segunda, a resposta não é necessariamente proporcional à intensidade do distúrbio, e é esta a categoria de sistemas que servem de objeto à teoria do caos, mais conhecidos como sistemas dinâmicos não-lineares.
<br/><br/>

<img src="/assets/images/software-caos.png" alt="representacao da teoria do caos" title="representacao da teoria do caos" class="article-image-principal"/>

<br/><br/>
A Teoria do caos, explica o funcionamento de sistemas complexos e dinâmicos onde determinados resultados podem ser imprevisíveis no que diz respeito à evolução. Um conjunto de objetos estudados que se inter-relacionem é chamado de sistema. Isso significa que certos resultados determinados são causados pela ação e a interação de elementos de forma praticamente aleatória. Para entender o que isso significa, basta pegar um exemplo na natureza, onde esses sistemas são comuns. A formação de uma nuvem no céu, por exemplo, pode ser desencadeada e se desenvolver com base em centenas de fatores que podem ser o calor, o vento, o clima. Além disso, mesmo que o número de fatores influenciando um determinado resultado seja pequeno, ainda assim a ocorrência do resultado esperado pode ser instável, desde que o sistema seja não-linear.

<br/><br/>
A conseqüência desta instabilidade dos resultados é que mesmo sistemas determinísticos (os quais tem resultados determinados por leis de evolução bem definidas) apresentem uma grande sensibilidade a perturbações (ruído) e erros, o que leva a resultados que são, na prática, imprevisíveis ou aleatórios, ocorrendo ao acaso. Mesmo em sistemas nos quais não há ruído, erros microscópicos na determinação do estado inicial e atual do sistema podem ser amplificados pela não-linearidade ou pelo grande número de interações entre os componentes, levando ao resultado aleatório. É o que se chama de Caos determinístico. Os cálculos envolvendo a Teoria do Caos são utilizados para descrever e entender fenômenos metereológicos, crescimento de populações, variações no mercado financeiro e movimentos de placas tectônicas, entre outros. Uma das mais conhecidas bases da teoria é o chamado Efeito Borboleta, teorizado pelo matemático Edward Lorenz, em 1963. A ideia é que uma pequena variação nas condições em determinado ponto de um sistema dinâmico pode ter consequências de proporções inimagináveis. "O bater de asas de uma borboleta em Tóquio pode provocar um furacão em Nova Iorque.”
<br/><br/>

<img src="/assets/images/efeito-borboleta.png" alt="efeito borboleta" title="efeito borboleta" class="article-image-principal"/>

<br/><br/>
Nos sistemas considerados caóticos, o comportamento de um sistema dinâmico são denominados atratores estranhos, isto ocorre pelo elevado grau de incerteza dos resultados destes sistemas. Os atratores estranhos devem ter estruturas detalhadas em todas as escalas de magnificação. Em função disto foi desenvolvido um modelo conceitual chamado fractal, que tem uma forma geométrica complexa e exibe uma formação estrutural que tem uma propriedade chamada de auto-similaridade. Estes sistemas complexos tornaram possível o progresso no processamento de dados gráfico. 
<br/><br/>

<img src="/assets/images/fractais.png" alt="fractal" title="fractal" class="article-image-principal"/>

<br/><br/>
Os fractais são figuras da geometria não-Euclidiana. A partir dos estados de um determinado sistema onde existem variáveis tais como massa, pressão, temperatura, velociadade, posição, etc, estes podem ser representados por coordenadas, num determinado espaço cuja configuração pode ser considerada multidimensional, de um ponto cujas coordenadas são determinadas pelas variáveis. Mandelbrot definiu fractal como um sistema organizado para o qual a dimensão excede estritamente a dimensão topológica (número inteiro que caracteriza a geometria de um objeto euclidiano – por exemplo: zero para um ponto, um para uma linha, etc.), onde fractais cujas estruturas sejam ego-semelhantes. Simplificando, o todo forma a parte e a parte forma o todo.
</p>
<aside class="button-place">
  <a href="/conceito/nao-dualismo.html" class="button preview"><< O não-dualismo</a>
  <a href="/conceito/caos-criatividade.html" class="button next">O caos e a criatividade >></a>
</aside>