---
title: Nodus project
---

<div id="wrapper">
  <div id="main">
    <section class="main special">
          <div id="main">
            <header class="major">
              <div class="project-description project-images">
                <img src="/images/bgnodus.png" alt="faac unesp" title="faac unesp" class="article-image-principal"/>
                  <h2>Instalação interativa de rede de relações<br/>referencializada na teoria do caos.</h2>
                <small>O projeto é uma instalação que questiona a inter-relação humana e as relações sociais através do design. O poder e a influência que cada um tem, conecta e transforma a rede. O efeito borboleta pode gerar múltiplos efeitos, pode criar o caos que nos inspiram. Conceber é ser uma relação intrínseca do eu. Buscar o equilíbrio em nossos relacionamentos entre caos e ordem, entendendo a harmonia de relações que cobre material e transcende estado da mais pura beleza. Os movimentos do corpo interagem com o espaço representado tentativas de demonstrar estados de caos e ordem, mas principalmente a transição e inter-relação dos sistemas. A interação pesquisa o estado que gera a combinação harmônica de todas as partes. Os espaços lisos e estriados que tecem rede, passando de uma para as outras formas de intensivo e extensivo.</small>
          </div>
            </header>
        </div>
      </section>
  </div>
</div>
