---
title: Nodus project
---

<div id="wrapper">
	<div id="main">
		<section id="first" class="main special">
			<header class="major">
				<h2>Simulação do aplicativo</h2>
				<p class="nodus-subtitle">Nodus foi projetado para ser exibido como uma instalação, <br/>abaixo uma simulação da projeção (efeito segue o cursor na tela)</p>
				<canvas data-processing-sources="/assets/processing/nodus_mouse_particle.pde"></canvas>
			</header>
		</section>
	</div>	
</div>